/* Single and block line comment */

body{
    background-color: #f5f5f5;
    color: #40407A;
    font-family: Verdana,Arial,sans-serif;
}

header {
    background-image: url("images/lilyheader.jpg");
    background-size: 100% 100%;
    background-color: #80CBC4;
    text-align: left;
    height: 100px;
}

h1 {
    line-height: 200%;
    text-align: center;
    padding-left: 2em;
}

h2 {
    font-size:200%;
}

nav {
    text-align: center;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #40407A;
}


footer {
    background-color: #80CBC4;
    font-size: 0.06em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
}

img {
    padding-left: 1em;
    padding-right: 1em;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display:block;
    
}

.studio {
    color: #40407A;
    font-style: italic;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background-color: #f5f5f5;
    min-width: 1000px;
    max-width: 1280px;
}

#hero {
    text-align:center;
    padding:10px;
}


